<body>
    <aside>
        <div class="sidenav">
            <img src="assets/logo-apae.png" alt="logo-apae" id="logo-aside">
            <button type="button" class="btn btn-dark" data-bs-toggle="button">ADMINISTRAÇÃO</button>
            <button type="button" class="btn btn-dark" data-bs-toggle="button">ESTOQUE</button>
            <button type="button" class="btn btn-dark" data-bs-toggle="button">DOAÇÃO</button>
            <div class="line">
                <p id="name"><strong>Luis Eduardo</strong></p>
                <p id="job">Nutricionista</p>
                <img src="assets/sair.png" alt="" id="out">
                <img src="assets/Foto.png" alt="p" id="profile">
            </div>
        </div>
    </aside>

    <main>
        <div id="white">
            <h1 id="name"></h1>
            <img src="assets/logo-apae.png" alt="">
        </div>
    </main>
</body>