<body>
    <aside>
        <div class="sidenav">
            <img src="assets/logo-apae.png" alt="logo-apae" id="logo-aside">
            <button type="button" class="btn btn-dark" data-bs-toggle="button">ADMINISTRAÇÃO</button>
            <button type="button" class="btn btn-dark" data-bs-toggle="button">ESTOQUE</button>
            <button type="button" class="btn btn-dark" data-bs-toggle="button">DOAÇÃO</button>
        <div class="line"></div>
        

            
        </div>
    </aside>

    <main>
        <div id="white"></div>
    </main>
</body>