@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');   

body {
    font-family: "Ubuntu", sans-serif;
    background-color: #2A455A;
    height: 100vh; 
}

#white {
    background-color: #F8F8F8;
    width: 1130px;
    height: 629px;
    position: absolute;
    margin-left: 656px;
    transform: translate(-38%, 1%);
    border-radius: 10px;
}


#logo-aside{
    width: 91px;
    height: 131px;
    transform: translate(80%, 0%);
}

.sidenav {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2A455A;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav button {
    margin-top: 60px;
    height: 50px;
    width: 190px;
    margin-left: 20px;
    font-size: 20px;
    background-color: #2A455A;
    border-color: #2A455A;
    border-radius: 10px;
    
}

.sidenav button:hover {
    background-color: #d4d4d444;
    transition: all 0.3s ease-in-out;
}
  
.line{
    border-top: 1px solid #ffffff; 
    margin: 65px auto;
    margin-left: 11px;
    
    
    
}

#name{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    margin-left: 67px;
    margin-top: 25px;
    color: white;
}

#job {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    margin-left: 72px;
    color: white;
}

#out{
    margin-left: 180px;
    height: 23px;
    width: 28px;
    margin-bottom: 50px;
    transform: translate(0%, -130%);
    

}

#profile{
    height: 43px ;
    width: 43px;
    transform: translate(0%, -265%);
    
 
    
}
 

.main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
}
  